<div class="cyble-container">
  <app-header></app-header>
  <div class="dashboard-container">
    <div class="row margin-bottom-10px-md">
      <div class="col-lg-8 col-md-6 margin-bottom-10px-xs">
        <div class="present-view">
          <!-- <router-outlet></router-outlet> -->
          <app-user></app-user>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 margin-bottom-10px-xs">
        <div class="present-view">
          <app-sales></app-sales>
        </div>
        <!-- <app-system-glance></app-system-glance> -->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 margin-bottom-10px-xs margin-bottom-0-md">
        <div class="present-view">
          <app-delivey-status></app-delivey-status>
        </div>
      </div>
      <div class="col-lg-8 col-md-6">
        <div class="present-view">
          <app-stock></app-stock>
        </div>
      </div>
    </div>
  </div>
</div>
